strong:hover{
    cursor: pointer;
}
.heading{
    background-color: whitesmoke;
}
.heading{
    width: 70%;
    height: 50px;
    /* text-align: center; */
 padding-top: 2.5%;
 padding-left: 5%;
    font-size: small;
   
}

.text{
    font-size: small;
    color: navy;
}